<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Mongo Scraper</title>
</head>

    <header id="masthead">
    <div class="row">
      <div class="container-fluid" id="header-container">
      

        <div class="col-xs-offset-1 col-xs-4" id="masthead">
        <h1>Mongo Scraper</h1>
        </div>

        <nav class="col-xs-5" id="textLinks">

          <div class="col-xs-3" id="home">
            <a href="/index">Home</a>
           </div>
            
           <div class="col-xs-offset-1 col-xs-3" id="saved"> 
            <a href="/saved">Saved Articles</a>
           </div>
           
           <div class="col-xs-offset-1 col-xs-3" id="button"> 
            <button class="scrape">Scrape New Articles</button>
           </div> 

        </nav>

      </div>  
    </div>
  </header>

	<body>
        <div class = "jumbotron">
            <h1 id = {{this.id}}>
        </div>
		{{{ body }}}
	</body>
</html>